.todo-app {
    font-family: sans-serif;
}
.todo-item__text--completed {
    text-decoration: line-through;
    color: lightgray;
}
.add-todo {
    margin-left: 0.5rem;
}

.todo-list {
    margin-top: 1rem;
    text-align: left;
    list-style: none;
}

.todo-item {
    font-family: monospace;
    cursor: pointer;
    line-height: 1.5;
}

